version: "3.5"
services:

  produce:
    image: atleon-kafka:latest
    hostname: produce
    ports:
      - "9081:8080"
    container_name: produce
    restart: unless-stopped
    networks:
      - jobs
    depends_on:
      - kafka-1
    environment:
      JAVA_OPTS: -XX:InitialRAMPercentage=2 -XX:MaxRAMPercentage=20
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092,kafka-4:9092,kafka-5:9092"
      # next 5 lines are for SASL_PLAINTEXT with SCRAM
      SPRING_KAFKA_JAAS_ENABLED: true
      SPRING_KAFKA_JAAS_CONTROL_FLAG: required
      SPRING_KAFKA_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      SPRING_KAFKA_PROPERTIES_SASL_MECHANISM: "SCRAM-SHA-512"
      SPRING_APPLICATION_NAME: produce
      SPRING_KAFKA_CLIENT_ID: produce
      SPRING_KAFKA_CONSUMER_GROUP_ID: produce1
      APPLICATION_MODE: ProduceFlatMap # ProduceFlatMap or ProduceConcatMap
      APPLICATION_TOPIC_A: a1
      APPLICATION_LOGGING_INTERVAL: 100ms # Log every 100ms
      APPLICATION_PRODUCER_VARIABLES_INTERVAL: 10ms # Produce event every 10ms
      APPLICATION_PRODUCER_VARIABLES_MAX_NUMBER_OF_EVENTS: 10000 # Number of events to produce

networks:
  jobs:
