version: "3.5"
services:

  pipe:
    image: atleon-kafka:latest
    hostname: pipe
    ports:
      - "9082:8080"
    container_name: pipe
    restart: unless-stopped
    networks:
      - jobs
    depends_on:
      - kafka-1
    environment:
      JAVA_OPTS: -XX:InitialRAMPercentage=2 -XX:MaxRAMPercentage=20
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092,kafka-4:9092,kafka-5:9092"
      # next 5 lines are for SASL_PLAINTEXT with SCRAM
      SPRING_KAFKA_JAAS_ENABLED: true
      SPRING_KAFKA_JAAS_CONTROL_FLAG: required
      SPRING_KAFKA_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      SPRING_KAFKA_PROPERTIES_SASL_MECHANISM: "SCRAM-SHA-512"
      SPRING_APPLICATION_NAME: pipe
      SPRING_KAFKA_CLIENT_ID: pipe
      SPRING_KAFKA_CONSUMER_GROUP_ID: Pipe-1
      APPLICATION_MODE: PipeReceiveSend # PipeReceiveSend or PipePartitioned
      APPLICATION_TOPIC_A: a1
      APPLICATION_TOPIC_B: b1
      APPLICATION_PROCESSING_WAIT_TIME: 10ms # Simulate processing time
      APPLICATION_LOG_RATE: 100ms # Log processing rates every 100ms

networks:
  jobs:
